@CHARSET "UTF-8";


.post-creation-view-accordion-layer{
	display: inline-block;
	width : 40%;
	height : 100%;
	position : absolute;
	top:0;
	left : 0;
	overflow:auto;	
	
}

.post-creation-view-main-fields-layer{
	display: inline-block;
	width : 60%;
	height : 100%;
	position : absolute;
	top:0;
	left:40%;
	overflow:auto;	
}


.post-creation-view-post-title-field-input{
	width:100%;
}
	
.message-text-area{
	width : 100%;
	display:block;
	height : 40;
}

.post-creation-view-main-field{
	position : relative;
	height : 80%;	
	padding : 0;
}

.post-creation-view-form{
	overflow:auto;
}

.ui-accordion {
	height : 100%;
}

.post-creation-view-accordion-layer * .ui-accordion-content{
	height : auto;
}

.post-creation-view-accordion-checkbox{
	position:absolute;
	top : 0;
	right : 0;
	cursor : inherit;
	z-index : 100;
}

.ui-accordion-header{
	z-index : 1;	
}


/*Tagedit gets very high when you press on it without this style*/
li.tagedit-listelement-old a.tagedit-close, .tagedit-list li.tagedit-listelement-old 
	a.tagedit-break, .tagedit-list li.tagedit-listelement-old a.tagedit-delete, .tagedit-list 
	li.tagedit-listelement-old a.tagedit-save {
	height:20px !important;	
}
.tagedit-list li.tagedit-listelement-new input {
	height:20px !important;	
}

ul.tagedit-list {
	width:100%;	
	background-color:white;
}

table.autocompleted-receiver * img {
	width : 40;
	height : 60;
}

.post-creation-view-buttons-layer{
	text-align:right;
	padding-right:5%;	
}

.post-creation-view-public-or-private-msg{
	display : inline;
}
