@CHARSET "UTF-8";

div.post-content-ciewer{
	overflow-y : auto;
	overflow-x : hidden;
}

ul.posts-contents-list{
	padding-left:0px; 
	list-style : none;
}

.post-content-view-post-footer *{
	float:right;
}
.post-content-view-post-footer{
	padding-bottom:2em;
}

.public-posts-footer{
	height:2em;
	text-align:center;	
}

.post-creation-info{
	position : relative;
	width : 100%;
	height : 4em;
	font-weight : bold;
	background-color: #3B5998;
	color : white;
	z-index :0;
}

.post-creation-info img, .post-creation-info * img{
	height : 100%;;
	width :	3em;
}

/* Post editor*/
.public-post-form{
	text-align:center;
}
.post-content-editor{
	display:inline;
	display:inline-block;
	width:95%;
	padding:2px;
	margin:0px;
}
.post-content-viewer-post-creation-form-body{
	width:100%;
	height:3em;	
	padding:0px;
	margin:0px;
}

.post-content-editor-controls{
	width:100%;
	padding:0px;
	text-align:left;
	margin:0px;
}

.idega-upload-area{
	display:inline;
	display:inline-block;
	overflow:auto;
}
/*//////////////////////////////////////////////////*/


.post-content-view-post-footer{
	position : relative;
	text-align : right;
}

div.post-info{
	background-color : white;	
}
.post-attachments-span{
	height:2em;
	cursor : pointer;
	float:right;
}
.post-attachments-span ul{
	background-color : white;
	color : blue;
	display:none;
	list-style : none;
	position: absolute;
	top:1.5em;
	right:0;
	padding-left:0px; 
}

.post-attachments-span:hover ul, .post-attachments-span.over ul{
	display:block;
}

.post-attachments-span:hover ul *{
	text-align:left;
	float: none;
}

.post-content-view-post-footer *{
	margin-left : 1em;
	z-index : 1;
}

.post-update-date{
	position : absolute;
	right : 0;
	top : 0;
	font-size : 75%;
}
.post-images * {
	padding-top:1em;
	font-size:1.5em;
	width:5em;
	height:5em;
	display:inline;
	vertical-align:text-bottom;
}
.post-images > *{
	padding:0em 0.5em 0em 0.5em;
}
